@charset "utf-8";

#no-pers,
#pers {
    width: 155px;
    height: 280px;
    border: 1px solid #000;
    margin: 30px;
    float: left;
    text-align: center;
}

.rotatex  {
    -webkit-transform: rotateX(50deg);
    -moz-transform: rotateX(50deg);
    -o-transform: rotatex(50deg);
    -ms-transform: rotatex(50deg);
    transform: rotateX(50deg);
}

#pers {
    -webkit-perspective: 300px;
    -moz-perspective: 300px;
    -o-perspective: 300px;
    -ms-perspective: 300px;
    perspective: 300px;
}