@charset "utf-8";

#container ul{
    color: royalblue;
}
#container > ul{
    border: 1px solid blue;
}
h1 +p {
    font-weight: bold;
}
h1 ~p {
    color: red
}
a[href] {
    background-color: aqua;
    text-decoration: none;
}