<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" media="print" href="">
    <link rel="stylesheet" media="screen and (max-width: 1024px)" href="">
    <style>
        body{
            background-color: #eee;
        }
        @media screen and (orientation:landscape) {
            body{
                background-color: yellow;
            }
        }
        @media screen and (orientation:portrait) {
            body{
                background-color: orange;
            }
            
        }
        @import url(css/style1.css) screen and (max-width: 1024px);
    </style>
</head>
<body>
    
</body>
</html>