<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transform 함수_Scale</title>
    <style>
        .origin{
            width: 200px;
            height: 135px;
            border: 1px solid #000;
            float: left;
            margin: 40px;
        }
        .scalex:hover{
            transform: scaleX(2);
        }
        .scaley:hover{
            transform: scaleY(2);
        }
        .scale:hover{
            transform: scale(0.7);
        }
    </style>
</head>
<body>
    <div class="origin">
        <div class="scalex">
            <img src="images/bus.jpg" alt="버스이미지">
        </div>
    </div>
    <div class="origin">
        <div class="scaley">
            <img src="images/bus.jpg" alt="버스이미지">
        </div>
    </div>
    <div class="origin">
        <div class="scale">
            <img src="images/bus.jpg" alt="버스이미지">
        </div>
    </div>
</body>
</html>