<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML5 시멘틱 태그</title>
    <link rel="stylesheet" href="./css/style1.css" type="text/css">
</head>

<body>
    <div class="container">
        <header>
            <h1>Joandora</h1>
            <h2>가장 아름다운 제주바다</h2>
        </header>
        <nav class="nav1">
            <ul>
                <li><a href="#">이용 안내</a></li>
                <li><a href="#">객실 소개</a></li>
                <li><a href="#">예약 방법</a></li>
                <li><a href="#">부대 시설</a></li>
            </ul>
        </nav>
        <article>
            <section class="cotent">
                <h2>조안도 소개</h2>
                <p>조안도라는 제주도 서쪽에 위치한 섬으로, 제주도에서 가장 아름다운 바다를 자랑합니다.</p>
                <p>조안도의 날씨는 구름이 많고 30도까지 올라가고 있습니다</p>
                <p>조안도의 바다는 맑고 깨끗하며, 물고기가 많이 서식하고 있습니다.</p>
                <div class="banner">
                    <img src="./images/apple-bg.jpg" alt="배너 이미지" width="700" height="230">
                </div>
                <div><iframe src="./templates/09/layout-markup.html" width="700" height="400"></iframe></div>
            </section>
        </article>
        <aside class="sidebar">
            <h3>알리는 말씀</h3>
            <p>게스트 하우스 연락처는 070-1234-1234로 연락주시면 가장 빠르고 정확하게 안내해드리겠습니다.
                인터넷 전화이므로 시외전화의 경우 요금이 부과 될 수 있습니다.
            </p>
            <img src="./images/pic1.jpg" alt="">
            <img src="./images/pic2.jpg" alt="">
            <img src="./images/pic3.jpg" alt="">
        </aside>
        <footer>
            <address>
                <p>제주특별자취도 서귀포시 00동 000번길</p>
                <p>전화번호 : 010-1234-1234 </p>
                <p>aaa@co.kr</p>
            </address>
            <p>CopyRight copy 2020 Joandora</p>
        </footer>
    </div>
</body>

</html>