<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>고급 선택자</title>
    <link rel="stylesheet" href="./css/style2.css">
</head>

<body>
    <section id="container">
        <h1>예약 방법 & 이용 요금</h1>
        <p>숙소를 예약하시려면...?</p>
        <ul>
            <li>예약 방법</li>
            <ul>
                <li><a href="#">전화를 이용한 예약</a></li>
                <li><a href="#">온라인을 이용한 예약</a></li>
                <li><a>문자를 이용한 예약</a></li>
            </ul>
            <li>요금</li>
            <ul>
                <li>1인: 40,000원</li>
                <li>2인: 60,000원</li>
                <li>3인: 80,000원</li>
                <li> 4인 10,000원</li>
            </ul>
        </ul>
        <p>언제든 문의 주세요.</p>
    </section>
</body>

</html>