<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>visibility 속성</title>
    <style>
        img {
            margin: 10px;
            padding: 10px;
            border: 1px solid #000;
        }
        .invisble{
            visibility: hidden;
        }
    </style>
</head>

<body>
    <img src="./images/pic1.jpg">
    <img src="./images/pic2.jpg" class="invisble">
    <img src="./images/pic3.jpg">
</body>

</html>